apiVersion: v1
kind: Service
metadata:
  labels:
    app: udagram-user
  name: udagram-user-svc
spec:
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: udagram-user-svc
